// Full screen the UI content area and map
.ui-content, #map
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  margin 0
  padding 0
  z-index 0

/*.ui-icon-knife after
  background-image url("../images/knife-dashed-line.png")
  background-size 18px 18px
*/
// Positions the controls properly
#controls
  text-align center
  padding 0
  position absolute
  left 0
  right 0
  bottom 0
  z-index 100

  // Give more room to the slider and less to the buttons on the sides
  & > .ui-block-a
    width 25%
  & > .ui-block-b
    width 50%
  & > .ui-block-c
    width 25%

// This is the "show controls" button. It hides behind the controls until they are hidden.
#show-controls
  position absolute
  right 4.1666%
  // Note these two margin values are quite the hax
  margin-right -24px
  margin-bottom 0.95em
  bottom 0
  z-index 50

// Make the slider look consistent with the buttons
#display-options-menu
  .ui-slider-track
    margin-left 14px
    margin-right 14px
  .ui-rangeslider-sliders
    margin-left 0
    margin-right 0

#slider-wrapper
  .ui-slider-track
    margin 0.5em 8.333%

  // Hack the playback slider handle to make a date fit in it
  .ui-slider-handle
    width 54px
    height 32px
    text-align center
    margin -21px 0 0 -26px
    padding-top 3px
    line-height 1.1em
    white-space normal
    text-overflow clip


// Adjust positioning for the display options
#display-options-menu
  position absolute
  // This is somewhat a hack, figure out if can be removed
  left -266.666px
  top -30px
  width 400px
  height 350px

  // Center the bottom arrow
  // This is somewhat a hack, figure out if can be removed
  .ui-popup-arrow-container
    margin-left 246.666px

// Adjust positioning for info and credits
#info-credits-pane
  position absolute
  // This is somewhat a hack, figure out if can be removed
  left -200px
  top -30px
  width 300px
  height 320px

  // Center the bottom arrow
  // This is somewhat a hack, figure out if can be removed
  .ui-popup-arrow-container
    margin-left 180px

div.space-please
  margin 1em 0
h4, p
  margin .5em 0

// Map key fun!
DEPTH_GRADIENT_WIDTH = 20px
EXTRA_SPACING = 10px
MAX_MAGNITUDE_SIZE = 50px
#map-key
  position absolute
  right 10px
  top 10px
  z-index 75
  #map-key-close
    // Map key close button
    z-index 100
    margin 0
  .key-column
    min-width 110px
  .depth-key
    position relative
    padding-left (DEPTH_GRADIENT_WIDTH + EXTRA_SPACING)
    margin-top 22px
    .depth-gradient
      position absolute
      width DEPTH_GRADIENT_WIDTH
      top 0
      bottom 0
      left 0
      background-color red
      background-image linear-gradient(red, yellow, green, blue)
    .labels p
      margin-bottom 27px
  .magnitude-key
    .magnitude-item
      position relative
      height MAX_MAGNITUDE_SIZE - EXTRA_SPACING
      padding-left (MAX_MAGNITUDE_SIZE + EXTRA_SPACING)
      padding-top (MAX_MAGNITUDE_SIZE/2 - 10)
      .magnitude-example
        border 1.5px solid black
        border-radius 100%
        position absolute
        top (MAX_MAGNITUDE_SIZE/2)
        left (MAX_MAGNITUDE_SIZE/2)
  .boundaries-key
    margin-top 1em
    margin-bottom 0.4em
    .labels
      padding 5px 0 5px 20px
      position relative
      .indicator
        position absolute
        top 0
        left 0
        bottom 0
        width 12px
      .needs-shadow
        box-shadow 0 0 10px 0 rgba(0, 0, 0, .2)
// Animated earthquakes
@-webkit-keyframes fantastic-entrance
  0%
    fill #fff
    transform scale(0)
  20%
    transform scale(1)

@keyframes fantastic-entrance
  0%
    fill #fff
    transform scale(0)
  20%
    transform scale(1)

#map
  // Get where those earthquake markers reside
  .leaflet-overlay-pane > svg
    path[fill-opacity="0.8"]
      transform-origin center
      -moz-transform-origin center
      animation fantastic-entrance 1000ms
